.navbar-fixed-top {
    position: relative !important;
    min-height: 8vh;
}

// makes navbar taller and keeps its nav links centered vertically
.col {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
    color: black;
}

.col-logo {
    // remove these 3...and will float left during Media Qery
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;

    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    color: black;
}

.nav-style {
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    border-width: 5px;
    background-color: white;
}

.nav-link {
    color: white !important;
}

.one {
    order: 1;
}
.two {
    order: 2;
}
.three {
    order: 3;
}
.four {
    order: 4;
}
.five {
    order: 5;
}

@media (max-width: 600px) {
    .col { 
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 16px;
        // min-width: 100%;
    }

    .col-logo {
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 16px;

        float: none;
    }

    .one {
        order: 2;
    }
    .two {
        order: 3;
    }
    .three {
        order: 1;
    }
    .four {
        order: 4;
    }
    .five {
        order: 5;
    }

    .navbar-fixed-top {
        min-height: 0vh;
    }
}



.logo-size {
    // font-size: 26px;
    // position: absolute;
}



// already worked without this...
// .container {
//     display: flex;
// }

// .container > li {
//     flex: 1;
// }


// @media all and (max-width: 600px) {
  
//     .container {
//       flex-wrap: wrap;
//     }
    
//     .container > li {
//       flex-basis: 50%;
//     }
//   }

// allows Menu hamburger button to function
// @media (max-width: 2000px) {
//     .navbar-collapse.collapse.in { 
//         display: block!important;
//     }
// }