// makes navbar taller and keeps its nav links centered vertically
.col {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
}

.nav-style {
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    border-width: 5px;
}

.logo-size {
    // font-size: 26px;
    // position: absolute;
}

// already worked without this...
// .container {
//     display: flex;
// }

// .container > li {
//     flex: 1;
// }


@media all and (max-width: 600px) {
  
    .container {
      flex-wrap: wrap;
    }
    
    .container > li {
      flex-basis: 50%;
    }
  }