// .padding-top-and-bottom {
    // padding-top:110px;
    // min-height: 100%;
// }

.tall-div {
    height: 200px;
}

@media (max-width: 600px) {
    .top-it {
        padding-top:50px;
    }

    .body-container-parent {
        min-height: 92vh;
    }
}

.landing-page-title {
    font-size: 5.8rem;

    @media (max-width: 600px) {
        font-size: 2.6rem;
    }
}

.landing-page-paragraph {
    text-align: left;
}