.padding-top-and-bottom {
    padding-top:110px;
    min-height: 100%;
    // GOOD
    // padding-bottom: 30px;
    // BETTER
    // padding-bottom: 105px;

    // flex: 1;
}

.body-container-parent {
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    border-width: 5px;
    background-color: white;
    overflow: hidden;
    min-height: 100%;
    margin-top: 1px;
    margin-bottom: 1px;

    min-height: 86vh;
    // display: flex;
    // flex-direction: column;
}

.tall-div {
    height: 200px;
}

@media (max-width: 600px) {
    .top-it {
        padding-top:50px;
    }
}