@import 'scss/colors.scss';

.wc-footer {
  display: flex;
  align-items: center;
  cursor: pointer;

  border-style: solid;
  border-radius: 3px;
  border-color: black;
  border-width: 5px;
  background: white;
}


.bottom-footer {
  position: relative; // fixed, absolute doesn't work well... relative
  bottom: 0;
  width: 100%;
  // so overlaps with body
  margin-top: -5px;
}

.wc-footer-text {
  font-size: 24px;
  color: black;
}


@media (max-width: 600px) {
  .wc-footer-text {
    font-size: 16px;
  }
}

// .wc-footer-contact-me {
//   font-size: 2em;
//   background-color: #554840;
//   color: black;
//   padding-left: 35px;
//   padding-right: 35px;
//   font-weight: 100;
//   filter: opacity(0.7);
//   border-style: solid;
//   border-width: 4px;
//   border-radius: 6px;
//   border-color: black;
// }