@import 'scss/colors.scss';

.footer-style {
  cursor: pointer;
  border-style: solid;
  border-radius: 3px;
  border-color: black;
  border-width: 5px;
  background: white;
}

.footer-div {
  position: relative;
  top: 1em;
}


.footer-bottom {
  // doesn't stay consistent as you resize?
  min-height: 8vh;
}

.wc-footer-text {
  font-size: 1.25em; //24px;
  color: black;
}

.expand-to-parent {
  min-height: inherit;
}


@media (max-width: 600px) {
  .wc-footer-text {
    font-size: 16px;
  }

  .footer-bottom {
    min-height: 0vh;
  }

  .footer-div {
    position: relative;
    top: auto;
  }
}

// MODAL
// ...

// old footer-bottom but didn't do anything
  // Didn't end up needing all this...
  // display: flex;
  // align-items: center;
  // position: relative; // fixed, absolute doesn't work well... relative
  // bottom: 0;
  // width: 100%;